html {
  --demo-primary-color: green;
  --demo-primary-color-hover: green;
  --demo-red-color: red;
}

html[data-theme='dark'] {
  --demo-red-color: green;
  --demo-primary-color: red;
  --demo-primary-color-hover: red;
}
